<header class="site-header container-fluid">

    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <h2><span class="oi oi-fire" title="fire" aria-hidden="true">
      </span>  
     &nbsp;{{ site.title }}</h2>
    </a>


    <nav class="nav">
      <a class="nav-link" href="/">Home</a>
      {% for page in site.pages %}
        {% if page.title %}
          <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    
</header>
